/*CSS de la Page d'Accueil*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');



body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    width: 100%;
    background: transparent;
    color: royalblue;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container h2 {
    font-size: 70px;
    font-weight: 400;
}

/*POUR LES BOUTONS*/

.btn-first {
    height: 100%;
}

.btns {
    width: 100%;
}


.btn-first {
    padding: 10px 40px;
    float: left;
    border-radius: 10px;
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    color: #ffffff;
    text-decoration: none;
    background-color: #3498DB;
    border-bottom: 5px solid #2980B9;
    text-shadow: 0px -2px #2980B9;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    cursor: pointer;
    box-shadow: 0 0 20px 0 black, 0 5px 5px 0 black;
}



.action-button:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    border-bottom: 1px solid;
}


.btn-first:nth-child(1) {
    margin-right: 50px;
}

.btn-first:hover {
    /*Survoler les boutons*/
    transition: all 0.s ease-in-out;
    background: #3498DB;
    color: #3498DB;
    background-color: white;
    border-bottom: 5px solid #3498DB;
    text-shadow: 0px -2px #3498DB;
}



/*POUR LE TITRE ET ENVIE DE BLABLABLA*/

.titre {
    width: 100%;
    height: 100vh;
    display: grid;
}

.titre h1 {
    margin: auto auto;
    text-align: center;
    font-size: 150px;
    width: 100%;
    padding-bottom: 10px;
    font-family: 'Oleo Script Swash Caps', cursive;
}

h2 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 400;
    color: #000000;
    font-family: Abril fatface, sans-serif;
}

.container span {
    color: aqua;
}


/*DIV CONTIENT*/
.contient {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
}

.contient section {
    min-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../../Ressource/triangles.png");
    background-position: center;
    background-size: cover;

}


.contient section .content {
    text-align: center;
}

.contient {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: auto;
}

/*POUR LICONE QUI VA VERS LE BAS*/
#icOn {
    width: 50px;
    cursor: pointer;
    color: white;
    position: fixed;
    bottom: 20px;
    left: 47%;

    animation-name: go-down;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes go-down {
    from {
        margin-bottom: 0;
    }

    50% {
        margin-bottom: 20px;
    }

    to {
        margin-bottom: 0;
    }
}