<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="header.css">
    <script src="https//kit.fontawesome.com/a076d05399.js"></script>
    <title>Join and Enjoy</title>
</head>

<body>



    <nav>
            <label href="../Site/site.php" class="logo">Join and Enjoy</label>
            <ul>
                <li><a class="active" href="../Compte/Compte.php">Mon Compte</a></li>
                <li><a href="../Site/formulaireannonce.html">Poster</a></li>
                <li><a href="#">Mes Annonces</a></li>
                <li><a href="../Site/logout.php">Deconnexion</a></li>
            </ul>
            <label id="icon">
                <i class="fas fa-bars"></i>
            </label>
    </nav>

    <!-- <script src="sidebar.js"></script> -->

</body>

</html>