html {
    font-family: "calibri", sans-serif;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

ul {
    margin-block-end: 0;
    margin-block-start: 0;
    text-decoration: none;

}

main {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    height: auto;
    background-color: #E7B1CC;
}

#filtres {
    width: 500px;
    height: 100%;
    background-color: #E7B1CC;
}

#annonces {
    width: 100%;
    background-color: #BDC6EF;
}

#scrollUp{
    position: fixed;
    bottom : 2px;
    right: 10px;
    opacity: 0.5;
}

.elementannonce{
    background-color: #E7C689;
    display: flex;
    flex-direction: row;
    margin: 25px;
    border-radius: 8%;
    justify-content: space-between;
}

#bouton input{
    background-color: #E6A06B;
    border-radius: 40%;   
    border: solid black 2px;
    width: 100px;
    padding: 9px;
    margin: 9px 9px 0 9px;
}

#bouton{
    justify-content: right;
    display: flex;
}

#bouton input:hover{
    cursor: pointer;
}


#gauche{
    display: flex;
    flex-direction: column;
    margin: 32px;
    align-items: center;
}

#droite{
    display: flex;
    flex-direction: column;
    margin: 32px;
}


.btn-compte:hover{
    background: #ff0000;
    transition: ease-out;
}

#gauche h1{
    text-align: center;
}