/*CSS de la Page d'Accueil*/

body{
    
    font-family: Arial, Helvetica, sans-serif;              
    background-image:url("../Ressource/background.jpg");        
    /*Le décalage n'a pas d'impact sur la position des éléments/*
    /*Le contenu est rogné afin de tenir horizontalement dans la boîte de remplissage (padding) et aucun ascenseur horizontal n'est affiché. */         
    position: center;     
    text-align: center;
    height: 100vh;    
    background-position: center;            
    /*Prends l'entière de l'image*/                          
    background-size: cover;           
    display: flex;
    flex-direction: column;
    /*mettre tout au centre*/
    justify-content: center;
}
    /*Bloc principal - Titre + bouton*/

/* .container-first {          
    position: absolute;
    top: 30%;
    left: 30%;
} */


h1 {
    text-transform: uppercase;
    font-size: 350%;
    color: #000000;
    font-family: Abril fatface, sans-serif;
}



 

 

h1 span {
    position: relative;
}

/*.container-btns{        
    /*Deplace que le bloc de bouton*/
   /* position: relative;
    top: 50px;
}*/

.btn-first {               
     /*Presentation des boutons*/
   /* border: 5px solid black;    
    outline: dashed;                
    /*Ptit trait autour */
    background: white;
    font-size: 30px;
   /* padding: 20px;
    width: 300px;*/
    color: black;
    cursor: pointer;
}

.btn-first:nth-child(1){
    margin-right: 50px;
}

.btn-first:hover {  
    /*Survoler les boutons*/
    transition: all 0.5s ease-in-out;
    background: red;
    color: blue;
}

footer{
    position: fixed;
    display: flex;
    background:rgb(237, 128, 128);
    padding: 5px;
    justify-content: center;
    bottom: 0;
    left: 0px;
    right: 0px;
    padding-top:50px;
}





footer{
    display: flex;
    background:rgb(237, 128, 128);
    padding: 5px;
    justify-content: center;
    bottom: 0;
    left: 0px;
    right: 0px;
    padding-top:50px;
}
