/*CSS de la page Inscription*/

body{
    background-image:url("../Ressource/background.jpg");
  }

#contenu{
    width:510px;
    margin:0 auto;
    margin-top:5%;
  }

legend{
    color: #3c3ee2;
}

fieldset{
    background-color: #ffffff;
 
}

td{
    color: #f10b0b;
}

input[type=submit], input[type=reset] {
    background-color: #3c3ee2;
    color: rgb(5, 5, 5);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

input[type=submit]:hover {
    background-color: rgb(255, 255, 255);
    color: #15178a;
    border: 1px solid #080808;
  }

input[type=reset]:hover {
    background-color: rgb(255, 255, 255);
    color: #15178a;
    border: 1px solid #080808;
  }

h3{
    width:500px;
    margin:0 auto;
    margin-top:0%;
}