/*CSS du formulaire d'annonces*/

body {
    background-color: rgb(48, 102, 84);

}

#contenu {
    width: 500px;
    margin: 0 auto;
    margin-top: 5%;
    background-color: rgb(255, 255, 255);
}

h1 {
    background-color: rgb(71, 20, 211);
    text-align: center;
}

/*
input[type=submit], input[type=reset] {
    background-color: rgb(192, 62, 62);
    color: rgb(5, 5, 5);
    padding: 20px 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
} */

form#myform label {
    display: inline-block;
    width: 100px;
}

form#myform input {
    display: inline-block;
}

form#myform input[type=submit] {
    color: #fff;
    background-color: green;
}


/*
SQL
*/

.db_tables {
    margin: 16px;
}

.db_row {
    display: flex;
    flex-direction: row;
}

.db_ibox {
    background-color: #a4a4a4;
    display: flex;
    flex-direction: column;
    border: black 1px solid;
    padding: 8px;
}

.db_box {
    display: flex;
    flex-direction: column;
    border: black 1px solid;
    padding: 8px;
    width: 128px;
}