html {
    font-family: "calibri", sans-serif;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
    background-image: url("../../Ressource/triangles.png");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    height: auto;
    background-color: #E7B1CC;
}

.elementannonce {
    background-color: #dba181;
    display: flex;
    flex-direction: row;
    margin: 25px;
    border-radius: 8%;
    justify-content: space-between;
    justify-content: center;
}



#bouton input {
    background-color: #E6A06B;
    border-radius: 40%;
    border: solid black 2px;
    width: 100px;
    padding: 9px;
    margin: 9px 9px 0 9px;
}

#bouton {
    justify-content: right;
    display: flex;
    justify-content: center;
}

#bouton input:hover {
    cursor: pointer;
}


#gauche {
    display: flex;
    flex-direction: column;
    margin: 32px;
    align-items: center;
}

#droite {
    display: flex;
    flex-direction: column;
    margin: 32px;
}

.commentaires {
    margin-top: 0px;
    background-color: transparent;
    display: flex;
    position: center;
    justify-content: center;

}

.postercommentaire {
    background-color: transparent;
    padding: 10px 10px;
    padding-left: 10px;
    border-radius: 10%;
    display: flex;
    flex-direction: inherit;
    align-content: center;
    align-items: center;

}

.listecommentaire {
    margin-top: 25px;
    background-color: transparent;
    padding: 30px 30px;
    border-radius: 10%;


}

.elementlistecommentaire {
    width: 50%;
    background-color: #e139c5;
    width: 300px;
    padding: 10px 30px;


}

.eventechange {
    width: 321px;
    display: flex;
    font-size: 24px;
}

/* .event {
    display: flex;
    flex-direction: row;
    background-color: #E3D4F5;
    color: #632280;
    margin: 25px;
    border-radius: 8%;
} */

.date_com {
    background-color: #e139c5;

}

.com {
    background-color: #e139c5;
    width: 300px;
}


.btn-first:hover {
    transition: all 0.s ease-in-out;
    background: #3498DB;
        background-color: rgb(52, 152, 219);
    color: #3498DB;
    background-color: white;
    border-bottom: 5px solid #3498DB;
    text-shadow: 0px -2px #3498DB;
}

.btn-first {
    padding: 10px 40px;
    float: left;
    border-radius: 10px;
    font-family: 'Pacifico', cursive;
    font-size: 26px;
    color: #ffffff;
    text-decoration: none;
    background-color: #3498DB;
    border-bottom: 5px solid #2980B9;
    text-shadow: 0px -2px #2980B9;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    cursor: pointer;
    box-shadow: 0 0 20px 0 black, 0 5px 5px 0 black;
}
