/*CSS de la page Compte*/

html {
    font-family: "calibri", sans-serif;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    height: auto;
    background-color: #E7B1CC;
}

#menu-list{
    margin-right: 50px;;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;

}