.db_tables {
  margin: 16px;
}

.db_row {
  display: flex;
  flex-direction: row;
}

.db_ibox {
  background-color: #a4a4a4;
  display: flex;
  flex-direction: column;
  border: black 1px solid;
  padding: 8px;
}

.db_box {
  display: flex;
  flex-direction: column;
  border: black 1px solid;
  padding: 8px;
  width: 128px;
}


:root {
  --bleuc: #3498DB;
  --bleuf: #2980B9;
}

#logo a {
  text-decoration: none;
  font-size: 32px;
  font-weight: bold;
  color: black;
  font-family: 'Oleo Script Swash Caps', cursive;
  z-index: 3;
}


html {
  background-image: url("../../Ressource/triangles.png");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 100px;
  flex-direction: column;
}

body {
  display: contents;
  flex-direction: column;
  right: 100px;
  margin-right: 250px;

}

#container {
  width: 400px;
  margin-top: 8%;
}

td {
  font-size: 20px;
  font-weight: bold;
}

form {
  /* width: 129%; */
  padding: 30px;
  margin: 1%;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2), 0 10px 10px 0 rgba(0, 0, 0, 0.24);
}

h1 {
  width: 100%;
  padding-bottom: 10px;
  font-size: xxx-large;
  font-family: 'Oleo Script Swash Caps', cursive;
}

b {
  font-size: 20px;
}

/* Full-width inputs */
input[type=text],
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* POUR LE BOUTON */
input[type=submit] {
  padding: 3px 0px;
  margin: 10px 40px;
  width: 80%;
  position: relative;
  display: flex;
  border-radius: 10px;
  color: #ffffff;
  text-decoration: none;
  background-color: var(--bleuc);
  border-bottom: 5px solid var(--bleuf);
  text-shadow: 0px -2px var(--bleuf);
  transition: all 0.1s;
  cursor: pointer;
  box-shadow: 0 0 10px 0 black, 0 5px 5px 0 black;
  font-size: 30px;
  font-family: 'Pacifico', cursive;
  padding-bottom: 1%;
}


input[type=reset] {
  padding: 3px 0px;
  margin: 10px 40px;
  width: 80%;
  position: relative;
  display: flex;
  border-radius: 10px;
  color: var(--bleuc);
  text-decoration: none;
  background-color: white;
  border-bottom: 5px solid white;
  text-shadow: 0px -2px var(--bleuc);
  transition: all 0.1s;
  cursor: pointer;
  box-shadow: 0 0 10px 0 black, 0 5px 5px 0 black;
  font-size: 30px;
  font-family: 'Pacifico', cursive;
  padding-bottom: 1%;
}



input[type=submit]:hover {
  transition: all 0.s ease-in-out;
  background: var(--bleuc);
  color: var(--bleuc);
  background-color: white;
  border-bottom: 5px solid white;
  text-shadow: 0px -2px var(--bleuc);
}


input[type=reset]:hover {
  transition: all 0.s ease-in-out;
  background: white;
  color: white;
  background-color: var(--bleuc);
  border-bottom: 5px solid var(--bleuf);
  text-shadow: 0px -2px var(--bleuc);
}