/*CSS de la page de Connexion*/

body {
  background-image: url("../../Ressource/triangles.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

#container {
  width: 400px;
  margin: 0 auto;
  margin-top: 10%;
}

/* Bordered form */
form {
  width: 100%;
  padding: 30px;
  border: 1px solid #f1f1f1;
  background: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#container h1 {
  width: 38%;
  margin: 0 auto;
  padding-bottom: 10px;
}

/* Full-width inputs */
input[type=text],
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* POUR LE BOUTON */
input[type=submit] {
  padding: 6px 0px;
  margin: 8px 0;
  border: none;
  width: 80%;

  float: left;
  border-radius: 10px;
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  color: #ffffff;
  text-decoration: none;
  background-color: #3498DB;
  border-bottom: 5px solid #2980B9;
  text-shadow: 0px -2px #2980B9;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  cursor: pointer;
  box-shadow: 0 0 20px 0 black, 0 5px 5px 0 black;
}

input[type=submit]:hover {
  transition: all 0.s ease-in-out;
  background: #3498DB;
  color: #3498DB;
  background-color: white;
  border-bottom: 5px solid white;
  text-shadow: 0px -2px #3498DB;
}